.no-touch body {
  background: #DAE2F8 linear-gradient(to right, #f7c9c9 , #91a8d1);
}

.no-touch #root {
  width: 660px;
  margin: 0 auto;

  background: #fff;
}

.no-touch .container {
  width: 100%;
}

.no-touch .card-list {
  width: 50%;
}

.no-touch .card-detail {
  width: 100%;
}

/* Advanced search and filter bar */
.no-touch .site-fixed-position-content.is-fixed {
  left: 50%;
  width: 660px;
  margin-left: -330px;
}

/* Navigation */
.no-touch .nav {
  width: 660px;
}

.no-touch .nav.is-fixed {
  left: 50%;
  margin-left: -330px;
}

/* Fixed bottom section */
.no-touch .fixed-bottom {
  left: 50%;
  width: 660px;
  margin-left: -330px;
}

/* User carousel */
.no-touch .user-main-carousel,
.no-touch .user-sub-carousel {
  width: 60%;
  margin-left: 20%;
}

.no-touch .pagi--next {
  right: calc((100% - 660px) / 2 - 100px);
  text-align: center;
}

.no-touch .pagi--prev {
  left: calc((100% - 660px) / 2 - 100px);
  text-align: center;
}

.no-touch .pagi--next.pagi--2 {
  right: -33px;
}

.no-touch .pagi--prev.pagi--2 {
  left: -33px;
}

/* Table */
.no-touch .table--a td:first-child {
  width: 30%;
}

/* Avatar profile */
.no-touch .card-user-avatar {
  width: 60%;
  margin-left: 20%;
}

.no-touch .card-user-avatar .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Modal */
.no-touch .modal__content {
  width: 480px;
}

.no-touch .modal__frame {
  width: 400px;
  padding-bottom: 400px;
}

/* Social List */
.social-list {
  display: none;
}

.no-touch .social-list {
  position: fixed;
  top: 100px;
  left: 100px;

  display: block;
  padding: 0;
  margin: 0;
}

.no-touch .social-list li {
  list-style: none;
}

.no-touch .social-list__item {
  display: inline-block;
  width: 50px;
  height: 50px;

  border-radius: 50%;

  color: #fff;
  text-align: center;
  line-height: 50px;
}

.no-touch .social-list__item.facebook {
  background: #3b5999;
}

.no-touch .social-list__item.twitter {
  background: #55acee;
}

/* Scroll to top */
.scroll-top {
  display: none;
}

.no-touch .scroll-top {
  position: fixed;
  right: calc((100% - 660px) / 2 - 100px);
  bottom: 100px;

  display: inline-block;
  width: 50px;
  height: 50px;

  line-height: 50px;
  color: #fff;
  text-align: center;

  background: #4c71b5;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-height: 960px) {
  .no-touch .modal__content--1 {
    height: 90%;
  }
}

.hsdiv::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: #c9c9c9;
}

.hsdiv::-webkit-scrollbar
{
  border-radius: 10px;
  height: 0.5rem;
  background-color: #c9c9c9;
}

.hsdiv::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #8d9399;
  width: 80%;
}

.customeTheme {
  background-color: #f9f7f9 !important;
  border-color: #c9c9c9 !important;
  width: 10rem;
}

._react-file-reader-input {
  display: inline;
}