.is-loading.cropper-card:before{position:absolute;top:0;right:0;bottom:0;left:0;z-index:4;content:'';background:rgba(0,0,0,.5);}
.is-loading.cropper-card:after{position:absolute;top:50%;left:50%;z-index:4;width:3.5rem;height:3.5rem;margin-top:-1.75rem;margin-left:-1.75rem;font-family:fontAwesome;font-size:2rem;line-height:3.5rem;color:#fff;text-align:center;content:'\f110';-webkit-animation:a 1s linear infinite;animation:a 1s linear infinite}
.cropper-container {
	height: 22rem !important;
}